/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 5, 2019, 4:19:52 PM
    Author     : Magazine3
*/

.pwaforwp-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
}
.pwaforwp-sticky-banner{
    background: #bac747;
    -webkit-background: #1F1F1F;
    position: fixed;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    height: auto;
    display: none;
    z-index: 9999999;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;  
}
.pwaforwp-add-via-class, .pwaforwp-installable-btn-class{
    display: none;
}
.pwaforwp-sticky-banner .pwaforwp-stky-blk{
    background: #ff416c;
    width: 500px;
    margin: 15px auto;
    border-radius: 5px;
    display:flex;
    display: -webkit-box;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
   -webkit-align-items: center;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;    
    padding: 15px 20px;
}
.pwaforwp-stky-blk span.pwaforwp-txt{
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
}
a.pwaforwp_add_home_close{
    position: absolute;
    right: 20px;
    background: #f1f1f1;
    border: 0;
    top: 32px;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    color: #000000;
    cursor: pointer;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;
}
.pwaforwp-butn{
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}
.pwaforwp-stky-blk h2{
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 0 10px;
}
.pwaforwp-cta-btn{
  width:100%;
}
.pwaforwp-stky-blk a.pwaforwp-cta-btn{
  width:auto;
}
.pwaforwp-stky-blk h2:before{
  display: none;
}
/** Shortcode CSS **/
.pwaforwp-shrt-btn-wrp{
  margin:0px auto;
  text-align: center;
}
.pwaforwp-shrt-btn{ 
    color: #fff;
    padding: 10px 20px;
    background-color: #283593;
    display: inline-block;
    margin-top: 30px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    cursor: pointer;
}
.pwaforwp-shrt-btn:hover{
   color:#fff;
}


#iossafari-a2h-banner{
  left: 0px;
  right:0px;
  width: 90%;
  transition-property: transform;
  transition-duration: 0.2s;
  transform: translate3d(0px, 0px, 0px);
  position: fixed;
  bottom: 14px;
  opacity: 1;
  background: #F2F2F2;
  padding: 15px;
  border:1px solid #ccc;
  display:none;
  box-sizing: border-box;
  margin:0 auto;
  z-index: 9999999;
  font-family: sans-serif;
  box-shadow: 0px 0px 6px 1px #ccc;
}
.iossafari-popup-buzz {
  animation: shake 0.9s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



#iossafari-a2h-banner p{
  font-size: 17px;
  line-height:1.4;
  margin:0px 0px 0px -90px;
  color:#111;
}
#iossafari-a2h-banner img.pwa-logo-icon{
    width: 80px;
    float: left;
    margin-right: 20px;
}
#iossafari-a2h-banner img.pwa-a2h-icon{
 width: 20px;
 display: inline;
}
.pwa-ov-txt .ath{
  font-size: 16px;
  font-weight: 700;
  color:#000;
}
#iossafari-a2h-banner .arow:after, #iossafari-a2h-banner .arow:before {
    bottom: -23px;
    z-index: 10;
    opacity: 1;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
}
#iossafari-a2h-banner .arow:before {
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #f2f2f2;
    border-width: 11px;
    margin-left: -11px;
    bottom:-20px;
    transform: rotate(180deg);
}
#iossafari-a2h-banner .arow:after {
    z-index: -999;
    border-bottom-color: #ccc;
    border-width: 11px;
    margin-left: -11px;
    transform: rotate(180deg);
}
#iossafari-a2h-banner .pwaforwp_iossafari_close{
    right: 6px;
    top: 6px;
    width: 22px;
    height: 22px;
    font-size: 18px;
    position: absolute;
    background: transparent;
    border-radius: 100px;
    color: #666;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid #666;
    text-align: center;
    line-height: 18px;
}




@media(max-width:600px){
    .pwaforwp-sticky-banner .pwaforwp-stky-blk {
        width: 70%;
    }
}
@media(max-width:425px){
    .pwaforwp-sticky-banner .pwaforwp-stky-blk {
        width: 86%;
    }
    a.pwaforwp_add_home_close {
      right: 8px;
      width: 19px;
      height: 19px;
      font-size: 16px;
      opacity: 0.75;
    }
    /** IOS Device **/ @supports (-webkit-overflow-scrolling: touch) {
      a.pwaforwp_add_home_close {
        line-height:16px;
        top: 24px;
        right: 12px;
      }
    }
    /** Non - IOS Device **/@supports not (-webkit-overflow-scrolling: touch) {
      a.pwaforwp_add_home_close {
        line-height:19px;
        top: 20px;
        right: 14px;
      }
    }
    .pwaforwp-stky-blk h2{
        margin:0;
    }
    .pwaforwp-sticky-banner .pwaforwp-stky-blk{
      padding: 7px 7px 7px 12px;
      margin: 8px 10px;
    }
}

@media(max-width:350px){
    .pwaforwp-stky-blk h2 {
      font-size: 13px;
    }
    .pwaforwp-butn {
      padding: 6px 10px;
    }
}


/*Menu css*/
ul li.pwaforwp-installable-btn-class a{margin-right:0px !important;}
.main-navigation .main-menu > li.pwaforwp-installable-btn-class{border: none;
  border-radius: 4px;
  height: auto;
  line-height: 1;
  min-width: auto;
  padding: 8px 16px;
  font-size: 16px; 
  margin: 10px 0px 0px 0px;
  font-family: sans-serif;
  text-transform: none;
  transition: all .2s ease-in-out;
  display: none;
}